body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: -0.2px;
  color: rgb(0, 0, 0);
  position: relative;
  left: 20px;
}

h1 strong {
  color: hsl(207, 73%, 65%);
}

.hero {
  height: 300px;
  background-color: #dadada;
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  overflow: hidden;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
}

.des {
  position: relative;
  left: 18px;
  display: flex;
  color: rgb(0, 0, 0);
  margin-left: 1cm;
  margin-right: 1cm;
}

.titulo {

  margin-left: 1cm;
}

.foto {
  width: 200px;
  border-radius: 200px;
  border: 10px solid hsl(207, 73%, 65%);
  float: right;
}

.header {
  background-color: hsl(207, 73%, 65%);
  color: rgb(0, 0, 0);
  margin-top: 0;
  display: flex;
  /* Espacio entre elementos del componente*/
  justify-content: space-between;
  text-align: justify;
  height: 80px;
  align-items: center;
  border-radius: 35px 0px 35px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
}
.header a {
  color: rgb(0, 0, 0);
}

.header ul {
  display: flex;
  height: inherit;
}
.header ul li {
  position: relative;
  left: 30px;
  display: block;
  width: 70%;
  padding: 10px;
  text-align: center;
  background: gold;
  color: #000;
}

ol,
ul {
  /* Sacamos margenes */
  margin: 0;
  padding: 0;
  list-style: none;
}

.header a {
  display: block;
  height: inherit;
  display: flex;
  align-items: flex-start;
  padding: 0 10px;
}
.menu {
  height: inherit;
}

.habilities-container {
 
  margin: 2px 20px 20px 20px;
  padding: 0 10px;
  background-color: #dadada;
}

.hability-percentage {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.hability-python {
  width: 80%;
  background-color: hsl(207, 73%, 65%);
}

.hability-web {
  width: 60%;
  background-color: hsl(207, 73%, 65%);
}

.hability-rpa {
  width: 50%;
  background-color: hsl(207, 73%, 65%);
}

.hability-git {
  width: 60%;
  background-color: hsl(207, 73%, 65%);
}

.hability-sql{
  width: 60%;
  background-color: hsl(207, 73%, 65%);
}

.hability-labview{
  width: 70%;
  background-color: hsl(207, 73%, 65%);
}


.social-link {
  display:inline-block;
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
}

.social-link.linkedin {
  background-image: url("../img/linkedin.png");
}

.social-link.wha {
  background-image: url("../img/wha.png");
}

.form {
  max-inline-size: 550px;
  margin: auto;
}

.form label {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 0.5em;
  padding-inline-start: 0.5em;
}

.form label span {
  color: #da1414;
}

.form input,
.form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  padding: 0.8em;
  border-radius: 0.5em;
  border: 1px solid #858c94;
}
.form textarea {
  margin-block-end: 2em;
  font-family: inherit;
}


.contact {
  margin-block-end: 7em;
  margin-block-start: 7em;
  background-color: hsl(207, 73%, 65%);
  margin-left: 7cm;
  margin-right: 7cm;
  border-radius: 15px 0px 15px 0px;
  -moz-border-radius: 35px 0px 35px 0px;
  -webkit-border-radius: 35px 0px 35px 0px;
  border: 2px solid #5878ca;
}

.enviar {
  min-width: 130px;
  height: 40px;
  color: black;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: 2px solid gold;
  background: gold;
  margin-bottom: 2cm;
}

@media screen and (max-width: 980px){
  #contenedor{
      width: 90%;
  }
  #contenido{
      width: 60%;
  }
  #barra_lateral{
      width:30%;
  }
}

@media screen and (max-width: 480px){
  #encabezado{
      height: auto;
  }
  #contenido{
      width: auto;
  }
  #barra_lateral{
      display:none;
  }
}

#contenedor {
  width: 90%;
  max-width: 1024px;
}

